/*
	Colors:

	#645180 - dark violet (header, borders, headers);
	#e7e3ed - light violet (body);

	#7c669e - button;
	#57476f - button hover;
	#584770 - menu hover;

	#57476f - error message;
	#36b55c - success message;

	#7d669e - paragphs;
*/

/* ================================= 
	Base Element Styles
==================================== */


* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #645180;
	background: #e7e3ed;
}

p {
	font-size: .95em;
	/*margin-bottom: 1.8em;*/
}

h2,
h3,
a {
	color: #645180;
}

/*h2,
h3 {
	margin-top: 0;
}*/

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* ================================= 
	Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.5em;
	margin: 0;
}
.name:hover {
	background: #57476f;
}

.logo {
	padding: .45rem 1rem .5rem;
	color: #fff;
}

.name a,
.main-nav a {
	text-align: center;
	display: block;
}

.main-nav a {
	font-size: .95em;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .5px;
}

.main-nav a:hover {
	color: #fff;
	background: #584770;
}

.nav-link {
	padding: 1rem;
}

/* ---- Layout Containers ---- */

.main-header {
	background: #645180;
}

/*.media {
	width: 640px;
	height: 480px;
}*/

.camera {
	position: relative;
}

.img-container {
	background-color:#f4f2f7;
	border-radius:4px;
	margin: 1em;
}

.account-container {
	background-color:#f4f2f7;
	border-radius:4px;
	padding: 1em;
}

.col {
	padding: 1em;
}

.collage img {
	width: 100%;
	border: 1px solid #9885b2;
	background: #9885b2;
}

.col.collage {
	padding: 0;
	margin-bottom: 2em;
}

.main-footer {
	text-align: center;
	background: #e7e3ed;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.emoji-header {
	font-size: .7em;
}

.headline {
	margin-bottom: 0;
	font-size: 2.1em;
}
.tagline {
	font-size: 1.8em;
	font-weight: 400;
}
.header-center {
	margin-top: 1.5em;
	margin-bottom: 0;
	text-align: center;
}
.account-page--header {
	margin-top: 0;
}

video {
	max-width: 100%;
}

#startVideo {
	background: #f4f2f7;
  color: #7D669E;
  width: 300px;
	position: absolute;
	top: 29%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#video,
#canvas,
#pngHolder {
	border: 1px solid #645180;
	background-color: #645180;
}

/*   ---- Account page styles ----   */

/*img {
  vertical-align: middle;
}*/

/* Position the image container (needed to position the left and right arrows) */
/*.container {
  position: relative;
}*/

/* Hide the images by default */
/*.mySlides {
  display: none;
}*/

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
/*.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}*/

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/*.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}*/

/* Number text (1/3 etc) */
/*.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/* Container for image text */
/*.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}*/

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

/*.active,*/
.demo:hover {
  opacity: 1;
}


/* ================================= 
	Form and Table Styles
==================================== */

/* ---- Forms ---- */

/*

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
	background: rgba(255,255,255,0.1);
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #e8eeef;
	color: #8a97a0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
	margin: 0 4px 8px 0;
}

select {
	padding: 6px;
	height: 32px;
	border-radius: 2px;
}

button {
	padding: 19px 39px 18px 39px;
	color: #FFF;
	background-color: #4bc970;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	border: 1px solid #3ac162;
	border-width: 1px 1px 3px;
	box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
	margin-bottom: 10px;
	margin-top: 15px;
}

fieldset {
	margin-bottom: 30px;
	border: none;
}

legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}

label {
	display: block;
	margin-bottom: 8px;
}

label.light {
	font-weight: 300;
	display: inline;
}

.number {
	background-color: #5fcf80;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 100%;
}

p.message {
	background: #ffeca4;
	border: 1px solid #f16702;
	padding: 1em;
	width: 444px;
}*/

/* ---- New forms ---- */

/* ---- Button ---- */


/*.button:last-child {
	margin-right:0;
}*/

/*.button--primary {
	background-color:#5fcf80;
	border-color:#5fcf80;
	color:#fff;
}
.button--primary:hover,
.button--primary:active,
.button--primary:focus {
	background-color:#3ac162;
	border-color:#3ac162;
	color:#fff
}*/

/*.button--topic-php {
	border-color:#7D669E !important;
	color:#7D669E !important;
}
.button--topic-php:hover,
.button--topic-php:active,
.button--topic-php:focus {
	border-color:#645180 !important;
	color:#645180 !important;
}

.button--topic-php .button--primary {
	background-color:#7D669E !important;
	border-color:#7D669E !important;
	color:#fff !important;
}
.button--topic-php .button--primary:hover,
.button--topic-php.button--primary:active,
.button--topic-php.button--primary:focus {
	background-color:#645180 !important;
	border-color:#645180 !important;
}*/


form {
	max-width: 300px;
	margin: 10px auto;
	padding: 10px 20px;
	/*background: #f4f7f8;*/
	border-radius: 8px;
}
input {
	border-radius: 4px;
	box-shadow: none;
	background: #f4f2f7;
	border: solid 1px #9885b2;
	padding: 8px 10px;
	width:100%;
	/*border-style: none;*/
}

/*  ----  Additional Form Atributes -----  */

label {
	margin: .6em 0 .6em;
	display: block;
	font-size:1em;
	font-weight:bold;
	color:#645180;
}

fieldset {
	margin: 1.5em 0.5em 1.5em;
	padding: 0px 0.9em 1.6em;
	border: solid 1px #9885b2;
}

legend {
	font-size: 1.5em;
	font-weight: lighter;
}

.button {
	background: #7D669E;
	border-color: #7D669E;
	color: #fff;
	margin: 1em 0;
}
.button:hover,
.button:focus,
.button:active {
	background:#645180;
	border-color:#645180;
	color:#fff;
}

.form-container {
	background-color: #fff;
	border-radius: 8px;
}
@media screen {
	.form-container {
		padding: .5rem 1.5rem;
		margin-top: .5rem;
		margin-bottom: 1.5rem;
	}
}
@media screen and (min-width: 680px) {
	.form-container {
		padding: .5rem 1.5rem;
		margin-top: 2rem;
		margin-bottom: 0;
	}
}
.form-container a {
	color: #9885b2;
	margin: .5em 0;
	display: inline-block;
	font-size: .95em;
}
.form-container a:hover,
.form-container a:focus,
.form-container a:active {
	color: #645180 !important;
}

@media screen and (min-width: 400px) {
	.wide-form {
		max-width: 400px;
	}
}

.form-table {
	max-width: 480px;
}

.upload-file--form {
	background: #f4f2f7;
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.form-appendex {
	margin-top: .5em;
	font-size: .89em;
}
span.form-text {
	font-size: .95em;
}
span.required {
	color:#ed5a5a;
}

.inline-block--lable {
	display: inline-block;
}
.right-align--link {
	float: right;
	font-size: 1em !important;
}

/*  ---- Alert messages ----*/

.alerts {
	margin: 0 auto;
}

.message {
	background-color: #ed5a5a;
	border-radius: 4px;
	padding: 1.5em;
	color: #fff;
	text-align: left;
	margin-bottom: 0;
	margin-top: 1em;
}

/*.form-report {
	padding:1.5rem;
	margin-bottom:3rem;
}
.form-report .button {
	margin-top:1rem;
}
.form-add {
	padding:1.5rem;
}
.form-add .button {
	margin-top:1rem;
}*/

/* ---- Tables ---- */

table {
	width:100%;
	text-align: left;
	background-color: #f4f2f7;
}
@media screen {
	table {
		margin-bottom:1.5rem;
	}
}
@media screen and (min-width: 680px) {
	table {
		margin-bottom:0;
	}
}
th,
td {
	padding:.5rem;
	background-color:#efecf3;
	border:solid 1px #9885b2 !important;
}
td {
	padding:1rem .5rem;
}
th {
	font-size:.875rem;
}
/*thead th {
	background-color:#f7f6f9 !important;
}*/

/*.forgot-pass {
	float: right;
}
#not-block {
	display: inline;
}*/



/* ---- Like-Comment icons ---- */

.likes-comments {
	width: 100%;
	padding: .5em 3em;
	padding-top: .5em;
}

.count_like {
	letter-spacing: .5px;
	font-size: 1em;
	padding-left: 10px;
}
.far {
	font-size: 1.5em;
	cursor: pointer;
}
.liked.far {
	font-weight: 600;
	color: FireBrick;
}
.unliked.far {
	font-weight: 400;
	/*color: DimGray;*/
}
.unliked:hover {
	font-weight: 600;
	color: FireBrick;
}

.fa-comment {
	float: right;
}

/* ---- Comments ---- */

.comment {
	background: #efecf3;
	border-radius: 4px;
	padding: .5em;
	margin: .5em 0;
	border: 1px solid #9885b2;
}

.count_comment {
	letter-spacing: .5px;
	font-size: 1em;
	padding-right: 10px;
	float: right;
}

/* ================================= 
	Media Queries
==================================== */

@media screen {
	.img-container {
		padding: 1.5em;
		margin-top: .5em;
		margin-bottom: 1.5em;
	}
}

@media screen and (min-width: 769px) {

	.container {
		width: 90%;
		margin: 0 auto;
		max-width: 768px;
	}

	.name,
	.col {
		float: left;
	}

	.main-nav {
		float: right;
		list-style: none;
	}

	.main-nav li {
		display: inline-block;
	}

	.tagline {
		font-size: 1.4em;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 958px) {

	.cont-wrap {
		margin-top: 3em !important;
		max-width: 1025px !important;
	}

	.img-container {
		padding: 1.5em;
		margin-top: 2em;
	}

	.primary,
	.secondary {
		width: 50%;
	}

	.collage {
		width: 100%;
	}

	.account_primary {
		width: 68%;
	}

	.account_secondary {
		width: 32%;
	}

	/*.container {
		width: 90%;
		max-width: 768px;
	}*/

	/*.primary {
		width: 60%;
	}

	.secondary {
		width: 40%;
	}*/

}



