/*
	Color scheme:

	#645180 - dark violet (header, borders, headlines);
	#e7e3ed - light violet (body);

	#7c669e - button;
	#57476f - button hover;
	#584770 - menu active;
	#4c3d61 - menu hover;

	#ed5a5a - error message;
	#36b55c - success message;

	#7d669e - paragphs;
*/

/* ================================= 
	Base Element Styles
==================================== */


* {
	box-sizing: border-box;
	outline:none;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #645180;
	background: #e7e3ed;
}

p {
	font-size: .95em;
}

h2,
h3,
a {
	color: #645180;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* ================================= 
	Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.5em;
	margin: 0;
	transition: background 100ms ease-in-out;
}
.name:hover {
	background: #4c3d61;
}

.logo {
	padding: .5em 1em .5em;
	color: #fff;
}

.name a,
.main-nav a {
	text-align: center;
	display: block;
}

.main-nav a:hover {
	color: #fff;
	background: #4c3d61;
}

.nav-link {
	padding: 1.15em;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: .5px;
	color: #fff;
	font-weight: bold;
	transition: background 100ms ease-in-out;
}

.on {
	background: #584770;
}

/* ---- Layout Containers ---- */

.main-header {
	background: #645180;
}

.camera {
	position: relative;
	max-height: 480px;
	max-width: 640px;
	overflow: hidden;
}

.img-container {
	background-color:#f4f2f7;
	border-radius:4px;
	margin: 1em;
}

.account-container {
	background-color:#f4f2f7;
	border-radius:4px;
	padding: 1em;
	margin-top: 3em !important;
}

.user-img {
	margin-bottom: .5em;
}

.col {
	padding: 1em;
}

.collage img {
	width: 100%;
}

.col.collage {
	padding: 0;
	margin-bottom: 2em;
}

.main-footer {
	text-align: center;
	background: #e7e3ed;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.emoji-header {
	font-size: .7em;
}

.headline {
	margin-bottom: 0;
	font-size: 2.1em;
}
.tagline {
	font-size: 1.8em;
	font-weight: 400;
}
.header-center {
	margin-top: 1.5em;
	margin-bottom: 0;
	text-align: center;
}
.account-page--header {
	margin-top: 0;
}

video,
canvas {
	max-width: 100%;
}

#startVideo {
	background: #f4f2f7;
	color: #7D669E;
	width: 300px;
	position: absolute;
	top: 29%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#video,
#canvas {
	background-color: #645180;
}

.pagination {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.pagination a {
	padding: 6px 12px;
	transition: background-color .3s;
}
.pagination a.active {
	background-color: #7d669e;
	color: white;
}
.pagination a:hover:not(.active) {
	background-color: #57476f;
	color: white;
}

/*   ---- Account page styles ----   */

.photo-montages {
	display: flex;
	overflow: auto;
	overflow-y: hidden;
}

.demo {
	opacity: 0.6;
	cursor: pointer;
	height: 6em;
	padding: 3px;
	margin: 2px;
}

.demo:hover {
	opacity: 1;
}

.temp {
	position: absolute;
	top: 0px;
	left: 0px;
}

.uploaded {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

/* ================================= 
	Form and Table Styles
==================================== */

/* ---- Forms ---- */

form {
	max-width: 300px;
	margin: 10px auto;
	padding: 10px 20px;
	border-radius: 8px;
}

input {
	border-radius: 4px;
	box-shadow: none;
	background: #f4f2f7;
	border: solid 1px #9885b2;
	padding: 8px 10px;
	width:100%;
}

input[type="button"]:disabled {
	background-color: #8089b6;
	border-color: #8089b6;
}

label {
	margin: .6em 0 .6em;
	display: block;
	font-size:1em;
	font-weight:bold;
	color:#645180;
}

fieldset {
	margin: 1.5em 0.5em 1.5em;
	padding: 0px 0.9em 1.6em;
	border: solid 1px #9885b2;
}

legend {
	font-size: 1.5em;
	font-weight: lighter;
}

.button {
	background: #7D669E;
	border-color: #7D669E;
	color: #fff;
	margin: 1em 0;
}
.button:hover,
.button:focus,
.button:active {
	background:#645180;
	border-color:#645180;
	color:#fff;
}

.button-account-1 {
	float: left;
	width: 23%;
	color: #7c669e;
	background-color: #f4f2f7;
	margin: 1%;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: .3em .5em;
	text-align: center;
	font-size: 1.2em;
	border: solid 1px #7c669e;
	border-radius: 4px;
	-webkit-transition-duration: 0.1s; /* Safari */
	transition-duration: 0.1s;
}
.button-account-1:focus,
.button-account-1:active {
}

.button-account-2 {
	float: left;
	width: 100%;
	color: #7c669e;
	margin-bottom: 1.5em;
	padding: .3em .5em;
	text-align: center;
	font-size: .9em;
	border: solid 1px #7c669e;
	border-radius: 4px;
	-webkit-transition-duration: 0.1s; /* Safari */
	transition-duration: 0.1s;
}
.button-account-2:first-child {
	margin-right: 30%;
}

.button-account-1:hover,
.button-account-1:focus,
.button-account-1:active,
.button-account-2:hover,
.button-account-2:focus,
.button-account-2:active {
	background: #7c669e;
	color: #fff;
	cursor: pointer;
}

.form-container {
	background-color: #fff;
	border-radius: 8px;
}
@media screen {
	.form-container {
		padding: .5rem 1.5rem;
		margin-top: .5rem;
		margin-bottom: 1.5rem;
	}
}
@media screen and (min-width: 680px) {
	.form-container {
		padding: .5rem 1.5rem;
		margin-top: 2rem;
		margin-bottom: 0;
	}
}
.form-container a {
	color: #9885b2;
	margin: .5em 0;
	display: inline-block;
	font-size: .95em;
}
.form-container a:hover,
.form-container a:focus,
.form-container a:active {
	color: #645180 !important;
}

@media screen and (min-width: 400px) {
	.wide-form {
		max-width: 400px;
	}
}

.form-table {
	max-width: 480px;
}

.form-sign-in {
	max-width: 300px;
}

.upload-file--form {
	background: #f4f2f7;
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.form-appendex {
	margin-top: .5em;
	font-size: .89em;
}

span.form-text {
	font-size: .95em;
}

span.required {
	color:#ed5a5a;
}

.inline-block--lable {
	display: inline-block;
}

.right-align--link {
	float: right;
	font-size: 1em !important;
}

/*  ---- Custom input[checkbox] element ----  */

.checbox-container {
	display: block;
	position: relative;
	padding-left: 44px;
	cursor: pointer;
	font-size: .9em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.checbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 9px;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #e7e3ed;
}

.checbox-container:hover input ~ .checkmark {
	background-color: #ccc;
}

.checbox-container input:checked ~ .checkmark {
	background-color: #7c669e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checbox-container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checbox-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*  ---- Alert messages ----*/

.alerts {
	margin: 0 auto;
}

.message {
	background-color: #ed5a5a;
	border-radius: 4px;
	padding: 1.5em;
	color: #fff;
	text-align: left;
	margin-bottom: 0;
	margin-top: 1em;
}

.success { background-color: #36b55c !important; }

.message-link {
	color: #fff !important;
	text-decoration: underline;
}

/* ---- Tables ---- */

table {
	width:100%;
	text-align: left;
	background-color: #f4f2f7;
}
@media screen {
	table {
		margin-bottom:1.5rem;
	}
}
@media screen and (min-width: 680px) {
	table {
		margin-bottom:0;
	}
}
th,
td {
	padding:.5rem;
	background-color:#efecf3;
	border:solid 1px #9885b2 !important;
}
td {
	padding:1rem .5rem;
}
th {
	font-size:.875rem;
}

/* ---- Like-Comment icons ---- */

.likes-comments {
	width: 100%;
	padding: .5em 3em;
}

.count_like {
	letter-spacing: .5px;
	font-size: 1em;
	padding-left: 10px;
}
.far {
	font-size: 1.5em;
	cursor: pointer;
}
.liked.far {
	font-weight: 600;
	color: FireBrick;
}
.unliked.far {
	font-weight: 400;
}
.unliked:hover {
	font-weight: 600;
	color: FireBrick;
}

.fa-comment {
	float: right;
}

/* ---- Comments ---- */

.comment {
	background: #efecf3;
	border-radius: 4px;
	padding: .5em;
	margin: .5em 0;
	border: 1px solid #9885b2;
}

.count_comment {
	letter-spacing: .5px;
	font-size: 1em;
	padding-right: 10px;
	float: right;
}

.comments-block {
	width: 100%;
}

.input-comment {
	background: #fff;
	font-size: .9em;
	margin: 0 1em;
}

/* ================================= 
	Media Queries
==================================== */

@media screen {
	.img-container {
		padding: 1.5em;
		margin-top: .5em;
		margin-bottom: 1.5em;
	}
}

@media screen and (min-width: 769px) {

	.container {
		width: 90%;
		margin: 0 auto;
		max-width: 860px;
	}

	.border-wrapper {
		border: 1px solid LightGray;
		padding: 14px;
		background: Gainsboro;
	}

	.name,
	.col {
		float: left;
	}

	.primary {
		width: 60%;
	}
	.secondary {
		width: 40%;
	}

	.main-nav {
		float: right;
		list-style: none;
	}

	.main-nav li {
		display: inline-block;
		float: left;
	}

	.tagline {
		font-size: 1.4em;
	}

	.form-main-page {
		float: right;
	}

	.cont-wrap {
		max-width: 1070px !important;
	}

	.header-wrap {
		max-width: 1200px !important;

	}

	.img-container {
		padding: 1.5em;
		margin-top: 2em;
	}

	.collage {
		width: 100%;
	}

	.account_primary {
		width: 68%;
		padding: 1.1em;
	}

	.account_secondary {
		width: 32%;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}
